
section(class='examen-content')
    h1
        
    include extensionStat
        
    include extensionTests
            
    p(id='abandon-examen', class = 'bouton-bleu'): a(href="resultats") Abandon de l'examen
    p(class = 'bouton-bleu'): a(routerLink="/tableau_de_bord") Sauvegarder et retour au bord
        
    //script(type="application/javascript", src="/javascript/test.js")
    //script(type="application/javascript", src="/javascript/stat.js")
    //script(type="application/javascript", src="/javascript/examen.js")


