
section(class='examen-content')
    h1 Examen de {{theme | uppercase}}
        
    stat
        

    test
            
    p(id='abandon-examen', class = 'bouton-bleu'): a(routerLink="/resultat") Abandon de l'examen
    p((click)="abandon()" class = 'bouton-bleu'): a(routerLink="/tableau_de_bord") Sauvegarder et retour au bord



