section(class="statsection")
    h2 Statistiques :
    table
        tr
            td Nombre de tests rapides réussis:
            td(class="moyenne_test_rapide")
        tr
            td Moyenne du test HTML:
            td(class="moyenne_HTML")

        tr
            td Moyenne du test CSS:
            td(class="moyenne_CSS")

        tr
            td Moyenne du test Javascript:
            td(class="moyenne_JS")

        tr
            td Moyenne des examens:
            td(class="moyenne_exam")
                
