

section(id='index-content')
    header
        h1 Bienvenue au quiz sur les notions du Web
        img(
            src='/images/logo.jpg'
            alt='Logo Quiz'
            height='364'
            width='500'
            )
    section
        h2 Description du site
        p Ce site a pour but de tester vos connaissances sur les notions du Web. Les thèmes des quiz vont du domaine du HTML5 au Javascript mais certains s’étendent aussi à d’autres technologies du Web telles que HTTP, NodeJS ou encore AngularJS.
