
section(id='instruction-content')
    h1 Instructions

    img#instructions(
        src='/images/instructions.jpg'
        alt='Instructions'
        height='300'
        width='300'
        )
    section
        h2 Test rapide
        p Vous pouvez lancer un test rapide depuis le tableau de bord. Pour ce test le choix des questions du test se fera de façon aléatoire selon une base de données.Les résultats de ces tests seront ensuite enregistrés et vous pourrez voir le ratio du nombre de tests rapides réussis sur le nombre de tests rapides effectués sur votre tableau de bord.
    section
        h2 Examen
        p Vous pouvez lancer un examen depuis le tableau de bord. Pour cela, vous devez choisir sur quel thème vous souhaiter être interrogé et choisir le nombre de question. Au cours de l'examen vous pouvez abandonner l'examen en retournant au tableau de bord. Cela vous donnera une note de 0 pour l'examen. Vous pouvez vos résultats depuis le tableau de bord avec la moyenne de vos examens et les notes chacun dans la partie statistique.