section(id='resultat-content')

    h1 Résultats de l'examen
    
    div(class='div-resultats')
    
        p
            | Vous avez fini l'examen de
            span(id='type-examen')  {{theme|uppercase}}
        p
            | Vous avez réussi
            span(id='questions-reussis')  {{nb_bonne_reponse}}
            |  sur
            span(id='questions-totales')  {{nb_question}}
            |  questions
        p
            |Votre note finale est de :
            span(id='note-finale')  {{note_finale}}
            | %
            
        p
            | Commentaire sur la note :
            span(id='commentaire')  {{commentaire}}
            
    p(id='retour-au-tdb' class='bouton-bleu')
        a(routerLink="/tableau_de_bord") Retour au tableau de bord
