
    
section(class='test-content')
    h1 Test rapide
        
    include extensionStat
        
    include extensionTests
        
    p(class='bouton-bleu'): a(routerLink="/tableau_de_bord") Retour au tableau de bord
        
