body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
}

h2 {
    font-weight: 400;
    color: #79cbf1;
}

input[type=submit] {
    color: white;
    text-decoration: inherit;
    padding: 8px;
    background: linear-gradient(#7abb59, #95e66d);
    border-radius: 15px;
    border-style: none;
    font-size: 16px;
}

input[type=submit]:hover {
    background: linear-gradient(#95e66d, #7abb59);
}

fieldset {
    border-radius: 15px;
    line-height: 0;
}

fieldset legend {
    font-size: 16px;
}

fieldset .question {
    font-weight: 600;
    margin-top: 30px;
    margin-left: 20px;
    width: 100%
}

legend {
    font-weight: 600;
}

#index-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index-content section {
    display: block;
    margin-left: 80px;
    margin-right: 80px;
}

#index-content section {
    border: solid 2px;
    border-color: #8a8a8a;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}

#tableau-content .form-exam{
    border: solid 2px;
    border-radius: 15px;
    border-color: #8a8a8a;
    margin: 15px;
    padding: 15px;
}

#tableau-content section {
    margin-left: 40px;
    margin-bottom: 40px;
}

#tableau-content section a {
    color: white;
    text-decoration: inherit;
    padding: 8px;
    margin: 50px;
    background: linear-gradient(#7abb59, #95e66d);
    border-radius: 15px;
    font-size: 16px;
}

#tableau-content section a:hover {
    background: linear-gradient(#95e66d, #7abb59);
}

#tableau-content form {
    width: 290px;
    border: solid 2px;
    padding: 15px;
    border-radius: 15px;
    border-color: #95e66d;
    line-height: 40px;
}

#tableau-content input[type=submit] {
    margin: 10px 0;
    margin-left: 90px;
}

#tableau-content input[type=submit] {
    color: white;
    text-decoration: inherit;
    padding: 8px;
    background: linear-gradient(#7abb59, #95e66d);
    border-radius: 15px;
    border-style: none;
    font-size: 16px;
    margin: 10px 0;
    margin-left: 90px;
}

#tableau-content input[type=submit]:hover {
    background: linear-gradient(#95e66d, #7abb59);
}

#tableau-content .bouton-bleu {
    margin-left: 40px;
}

#fond-opaque {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#fond-opaque:target {
    display: block;
}

#boite-modale {
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
    width: 40%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 15px;
    cursor: default;
}

#boite-modale:active {
    pointer-events: none;
}

#boite-modale h2 {
    margin-top: 0;
}

#boite-modale th,
#boite-modale td {
    padding: 8px;
    text-align: left;
    color: black;
}

#boite-modale tr:hover {
    background-color: #f5f5f5;
}

#instruction-content div {
    border: solid 2px;
    border-radius: 15px;
    border-color: #8a8a8a;
    margin: 80px 80px;
    padding: 15px;
}

#instruction-content section {
    margin: 40px 25px;
}

#instruction-content p {
    text-align: justify;
}

#resultat-content div {
    margin: 10px 30px;
    border: solid 2px #8a8a8a;
    border-radius: 15px;
    padding: 20px;
}

#resultat-content > p {
    margin-left: 30px;
}

.test-content {
    margin: 20px;
}

.test-content form {
    margin: 60px;
    line-height: 40px;
}

.reponses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reponses div{
    flex-basis: 34%;
    text-align: center;
    line-height: 15px;
    padding: 10px 0;
    margin: 15px 0;
    background-color: lightgrey;
    border-radius: 15px;
}

.dropzone{
    border: 3px dotted lightgray;
    border-radius: 5px;
    width: 80%;
    height: 80px;
    margin: 20px auto;
}

.dropzone div{
    padding: 10px 0;
    line-height: normal;
    width: 40%;
    margin: 15px auto;
    background-color: lightgrey;
    border-radius: 15px;
    text-align: center;
}

.question{
    line-height: 20px;
}


.aide{
    font-style: italic;
    color: lightgray;
    text-align: center;
    margin-top: 40px;
}

.test-content label {
    padding: 25px;
}

.bouton-bleu a, #tableau-content .bouton-bleu a {
    color: white;
    text-decoration: inherit;
    padding: 8px;
    background: linear-gradient(#5b98b5, #7dd3fa);
    border-radius: 15px;
    font-size: 16px;
    margin-top: 40px;
}

.bouton-bleu a:hover, #tableau-content .bouton-bleu a:hover {
    background: linear-gradient(#7dd3fa, #5b98b5);
}
    
.bouton-bleu, #tableau-content .bouton-bleu {
    margin-top: 40px;
}

.examen-content {
    margin: 20px;
}

.examen-content form {
    margin: 60px;
    line-height: 40px;
}

.examen-content label {
    padding: 25px;
}

footer {
    color: white;
    background-color: #f15721;
    margin-top: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    line-height: 30px;
    clear: both;
}

ul#topnav {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    background-color: darkblue;
    margin-top: 0;
}

li {
    float: left;
}

li a#topnav {
    padding: 0;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a#topnav:hover {
    background-color: #6cbd44;
}

.statsection h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.statsection {
    font-size: 16px;
    float: right;
    background-color: #dfedf4;
    display: inline;
    border: solid 1px #8a8a8a;
    border-radius: 15px;
    margin-top: 5%;
}

.statsection td {
    padding: 8px;
}

#tableau-content .statsection {
    position: absolute;
    top: 30%;
    right: 6%;
}

.clear {
    clear: both;
}

@media screen and (max-width: 1100px) {
    .statsection {
        font-size: 12px;
        padding: 10px;
        width: 120px;
        margin-left: 30px;
    }
    #tableau-content .statsection {
        font-size: 14px;
        width: 140px;
    }
    .dropzone div{
        width: 70%;
    }
}

@media screen and (min-width: 1100px) {
    .statsection {
        font-size: 16px;
        padding: 20px;
        width: 320px;
        margin: 0 40px;
    }
}

img#instructions {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

nav a[title='Accueil'], nav a[title='Bord'], nav a[title='Instructions'], nav a[title='Question']{
    background-color: #79cbf1;
}

#ajout-question-content form{
    width: 80%;
    border: solid 2px;
    padding: 15px;
    border-radius: 15px;
    border-color: #95e66d;
    line-height: 40px;
    margin: 0 auto;
}

#ajout-question-content label{
    margin-right: 10px;
}

#ajout-question-content #reponses div{
    font-size: 12px;
    margin-left: 20px;
}

#ajout-question-content input[name="question"], #ajout-question-content #reponses input{
    width : 80%;
}


#ajout-question-content .bouton-bleu{
    margin-left: 10%;
}

.message_retour{
    margin-left: 15%;
}

.message_retour li{
    float: none;
}

#retour-remise-zero{
    text-align: center;
    margin-top: 15px;
}

#tableau-content #continuer, #tableau-content #supprimer {
    margin: 20px auto;
    display: block;
} 
